.pf-slider {
    margin-bottom: 80px;
    h2 {text-align: center;}
}

.slider-wrapper {
    width: 100%;
    max-height: 280px;

    .slide {width: 100%; min-width: 1024px;}
}

.slide-content {
    @include flex(space-around, flex-start, n, n);
    padding: 15px 50px;
    .slide-img {
        height: 280px;
        width: 350px;
        @include flex(center, flex-start, n, n) ;
        
        img {
            max-width: 100%; max-height: 100%;
        }
    }

    h3 {margin-top: 0;}
}